// Define variables for your color scheme

// For example:
$red: #D9272D;

$blue: #6BD3FC;
$yellow: #FDBF58;
$orange: #F5692E;
$green: #00CC66;
$gray: #0E0000;
$light-gray: #D9D9D9;
$purple: #8477C1;
$headers-color: #35B2AE;

$pink: #DB6B97;
$red_light: #D14730;
