.bkg-leaderboard {
  //background-image: url(backgroundball/1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.title{
  font-family: 'Fredoka One', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  -webkit-text-stroke: 3px #1A558A;
}
.leaderboard{
  display: flex;
  flex-direction: column;
  align-items: center;
}
