.missions-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
  flex-grow: 1;
}

.card-bottom-right{
  padding: 20px;
}

.mission-photo {
  object-position: bottom;
  border-radius: 67px;
  border: 3px solid #1C419A;
  width: 100%;
  height: 100px;
  object-fit: contain
}

.missions-cards{
  padding: 20px;
}

.mission-card{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  position:relative;
  border-radius: 67px;
  padding: 20px;
  background: #E1F2FF;
  border: 5px solid #1C419A;
}

.card-mission-bottom{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  color: #1C419A;
  border-radius: 67px;
}
i:hover{
  color: #35B2AE;
}

.description{
  border: 3px solid #1C419A;
  border-radius: 67px;
  padding: 20px;
  white-space: normal;
}

.mission-card-title{
  border-radius: 67px;
  font-size: 18px !important;
  font-family: "Fredoka One" !important;
  color: #1C419A;
  border: 3px solid #1C419A;
  padding: 8px;
}
.card-mission-bottom-left{
  text-align: left;
  margin-top: 0px
}

.card-mission-bottom-right{
  text-align: right;
  font-weight: bold;
  justify-content: space-between;
}
.create-mission-btn{
  background-color: #1C419A;
  border-radius: 67px;
  color: #E1F2FF;
}
