.simply-countdown-inline{
  font-size: 18px !important;
  font-family: "Fredoka One" !important;
}
.btn.btn-mission-complete{
  background-color: #00E942;
  width: 125px;
  height: 50px;
 }

 .btn.btn-mission-complete a{
  font-size: 19px;
  text-decoration: none;
  -webkit-text-stroke: 1px #1A558A;;
  color: white;
 }
 //a{
  //-webkit-text-stroke: 1px white;
  //font-size: medium;
 //}

.mission_setups_icon{
  font-family: "Fredoka One" !important;
}
