.simply-countdown-inline{
  font-size: 18px !important;
  font-family: "Fredoka One" !important;
}
.btn.btn-mission-complete{
  background-color: green;
  width: 125px;
  height: 50px;
 }

 a{
  -webkit-text-stroke: 1px white;
  font-size: medium;
 }

.mission_setups_icon{
  font-family: "Fredoka One" !important;
}
