.missions-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
  flex-grow: 1;
  padding: 20px;
}

.mission-card{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 67px;
  background: #E1F2FF;
  //width: 400px;
  //height: 200px;
}

.card-mission-bottom{
  //display:flex;
  //justify-content: space-between;
  //align-items: flex-end;
  padding: 0px 20px;
  color: #1C419A;
  border-radius: 0px 0px 67px 67px;
  background-color: #9EE5FF;
}
i:hover{
  color: #F5692E;
}

.description{
  border-radius: 67px;
  padding: 20px;
  white-space: normal;
}

.mission_description{
  color: #1C419A;
}

.mission-card-title{
  font-size: 18px !important;
  font-family: "Fredoka One" !important;
  color: #1C419A;
  padding: 8px;
  text-align: center;
  padding: 40px;
}
.card-mission-bottom-left{
  text-align: center;
  margin-top: 40px;
}

.card-mission-bottom-right{
  text-align: right;
  font-weight: bold;
  justify-content: space-between;
}

.length{
  justify-content: space-between;
  text-align: center;
}

.length-mission{
  height: 30px;
  margin-bottom: 5px;
}

// .a {}
  //text-decoration: none;


.btn {
  color: white;
  -webkit-text-stroke: 1px  #35B2AE;
  font-size: xx-large;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F5692E;
  border-radius: 200px;
  margin-top: 10px;
  font-family: 'Fredoka One', cursive;
  width: fit-content;
}
.coins-mission{
  height: 40px;
  margin-bottom: 5px;
}

.exit-mission{
  position: fixed;
  height: 40px;
  margin: -56px;
}

.play-mission{
  margin-top: 1px;
  height: 68px;
}

.footer_card{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  position: relative;
  margin-right: 45px;
  justify-content: space-between;
  width: 100%;

}

.info-icon{
  font-size: 38px;
  color: #2457AB;
  display: flex;
	align-items: center;
  margin: 15px;
}

.mission_exit{
  height: 40px
}


.missions-container {
 padding: 48px !important;
 margin-left: -68px;
}

.new_mission_setup{
  display: grid;
	grid-template-columns: 1fr 1fr;
}

.p-coins{
  margin-top: -3px;
  font-family: "Fredoka One" !important;
  color: #1C419A;
}
.p-length{
  margin-top: 1px;
  font-family: "Fredoka One" !important;
  color: #1C419A;
}
