<h1>All the students</h1>

<div class="grid-container">
  <ul style="list-style: none;">
    <div class='student-cards'>
    <% @students.each do |s| %>
      <div class='student-card'>
      <%= image_tag "devil-mad-icon.png" %>
        <ul  style="list-style: none;">
          <li><strong><%= link_to s.first_name, student_path(s), class:'link' %></strong></li>
        </ul>
      </div>
    <% end %>
    </div>
  </ul>
</div>
