<h1>All the students</h1>

<div class="grid-container">
  <div class='student-cards'>
    <% @students.each do |s| %>
      <div class='student-card'>
        <%= image_tag "devil-mad-icon.png" %>
        <li><strong><%= link_to s.first_name, student_path(s), class:'link' %></strong></li>
      </div>
    <% end %>
  </div>
</div>
