<h1> Student</h1>
<div class="student-show">
<p>First Name: <%= @student.first_name %></p>
<p>Last Name: <%= @student.last_name %></p>
<p>Coins: <%= @student.coins %></p>
<p>Birthday: <%= @student.date_of_birth %></p>
</div>
