<div class='mission-card'>
  <%= image_tag "rocket.png", class: "mission-photo" %>
  <strong> <%= mission.name %> </strong>
    <div class="card-mission-bottom">
      <div class="card-mission-bottom-left">
        <p> <%= mission.coins %> <i class="fa fa-coins"></i> </p>
      </div>
        <div class="card-bottom-right">
            <a href="url"><i class="fas fa-play"></i></a>
            <a href="url"><i class="fas fa-info"></i></a>
        </div>
    </div>
</div>
