<table id="ranking" class="table table" style="width:50%">
        <thead>
            <tr>
                <th> <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_cv6rdeii.json"  background="transparent"  speed="1"  style="width: 50px; height: 50px;"  loop  autoplay></lottie-player></th>
                <th>Name</th>
                <th><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_CbT8Hi.json" background="transparent"  speed="1"  style="width: 50px; height: 50px;" loop autoplay></lottie-player></th>
            </tr>
        </thead>
        <tbody>

             <%  @sorted_students.each_with_index do |student, index| %>
              <tr>
                <td><%= index +1 %></td>
                <td><%= student.first_name %></td>
                <td><%= student.coins %></td>
              </tr>
                <% end %>
        </tbody>
        <tfoot>
            <tr>
                <th> <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_cv6rdeii.json"  background="transparent"  speed="1"  style="width: 50px; height: 50px;"  loop  autoplay></lottie-player></th>
                <th>Name</th>
                <th><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_CbT8Hi.json" background="transparent"  speed="1"  style="width: 50px; height: 50px;" loop autoplay></lottie-player></th>
            </tr>
        </tfoot>
    </table>
