<table id="ranking" class="table table" style="width:50%">
        <thead>
            <tr>
                <th> <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_cv6rdeii.json"  background="transparent"  speed="1"  style="width: 50px; height: 50px;"  loop  autoplay></lottie-player></th>
                <th>Name</th>
                <th><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_CbT8Hi.json" background="transparent"  speed="1"  style="width: 50px; height: 50px;" loop autoplay></lottie-player></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Anna</td>
                <td>100</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Dimitri</td>
                <td>99</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Simone</td>
                <td>98</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>position</th>
                <th>name</th>
                <th>coins</th>
            </tr>
        </tfoot>
    </table>
