<div class="leaderboard">
  <% students = Classroom.last.students  %>
  <% students_sorted = students.sort_by { |s| -s.coins}   %>
  <%  students_sorted.each_with_index do |student, index| %>
    <div class = "row-leaderboard mt-4">
      <%= image_tag (cl_image_path student.photo.key), class: "ava-row" %>
      <p class = "name-text"><%=" #{index + 1}-#{student.first_name}"  %></p>
      <div>
        <p class="coin-text"><%= student.coins %></p>
        <%= image_tag ("Tiles/coin_shop_3.png"), class: "coins-row" %>
      </div>
    </div>
  <% end %>
</div>
