<div class = "row-leaderboard">
  <%= image_tag ("ava/ava-1.png"), class: "ava-row" %>
  <p class = "name-text">Student Name</p>
  <div>
    <%= image_tag ("100_icons/little/8_ok.png"), class: "right-worng-row" %>
  </div>
</div>
