<div class = "row-leaderboard">
  <% @students.each do |student| %>
    <%= image_tag (cl_image_path student.photo.key), class: "ava-row" %>
  <% end %>
  <p class = "name-text">Student Name</p>
  <div>
    <p class="coin-text">200</p>
    <%= image_tag ("Tiles/coin_shop_3.png"), class: "coins-row" %>
  </div>
</div>
