<div class = "row-leaderboard">
  <%= image_tag ("ava/ava-1.png"), class: "ava-row" %>
  <p class = "name-text">Student Name</p>
  <div>
    <p class="coin-text">200</p>
    <%= image_tag ("Tiles/coin_shop_3.png"), class: "coins-row" %>
  </div>
</div>
