<div class ="mission_setups_icon" data-insert-in-list-target="countdown"> ⌛ <span class="simply-countdown-inline"></span></div>
<%= link_to "❌", "missions" %>
<div class ="mission_setups_icon"> ✅ </div>
