<div class ="mission_setups_icon" data-insert-in-list-target="countdown"> ⌛ <span class="simply-countdown-inline"></span></div>
<div class ="mission_setups_icon_stop"> <%= link_to image_tag("100_icons/little/close"), "missions" %></div>
<div class ="btn btn-mission-complete"> <%= link_to "Complete", mission_mission_setups_path(@mission)%></div>
