<div class ="mission_setups_icon" data-insert-in-list-target="countdown"> ⌛ <span class="simply-countdown-inline"></span></div>
<div class ="mission_setups_icon" > ❌ </div>
<div class ="mission_setups_icon"> ✅ </div>
