<div class ="mission_setups_icon" data-insert-in-list-target="countdown"> ⌛ <span class="simply-countdown-inline"></span></div>
<div class ="mission_setups_icon"> <%= link_to "❌", "missions" %></div>
<div class ="mission_setups_icon"> <%= link_to "✅", mission_mission_setups_path(@mission)%></div>
