.achiev-star{
  width: 60px;
  height: 60px;
}
.achiev-card{
  font-size: small;
  color: white;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}
.trophy{
  width: 150px;
  height: 150px;
}
.achievements{
  padding: 15px;
}
