
  .confirm-button{
    height: 70px;
    width: 200px;
    border: solid #00882A 2px;
    border-top: 10px;
    border-radius: 50px;
    background: linear-gradient(#00FF09, #00C300);
    color: white;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
     -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00427C;
    margin-left: -12px;
  }



.position-text {
  position: absolute;
  left: 272px;
  top: 150px;
}

.image-button {
  width: 200px;
}

.btn {
  color: white;
  -webkit-text-stroke: 1px  #35B2AE;
  font-size: xx-large;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F5692E;
  border-radius: 200px;
  margin-top: 10px;
  font-family: 'Fredoka One', cursive;
  width: fit-content;
}

.claim-reward {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  font-size: x-large;
  background-color: #F5692E;
  color: white;
  -webkit-text-stroke: 1px  #35B2AE;
  border: 0px;
  height: 70px;
  padding: 10px
}
//
