.reward_description > textarea {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}

.reward_title > input {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}

.reward_price > input {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}

.reward_photo > input {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  color: black;
  background-color: white;
}

.form-label {
  font-family: 'Fredoka One', cursive;
  color: black;
}

.student_first_name > input {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}

.student_last_name > input {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}

#student_date_of_birth_1i {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}

#student_date_of_birth_2i {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}

#student_date_of_birth_3i {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}

.student_photo > input {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}

.mission_name > input {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}

.mission_description > textarea {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}

.mission_coins > input {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}

.mission_length > input {
  border-radius: 50px;
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
}
