.row-leaderboard{
  height: 125px;
  width: 700px;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E1F2FF;
  border-radius: 67px;
}
.ava-row {
  height: 85%;
}
.name-text{
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
  color: #1C419A;
}
.right-wrong-row{
  height: 40px;
  width: 60px;
}
