.student-show {
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
  color: #1C419A;
  background-color: #E1F2FF;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
}
p {
  color: #1C419A;
}
.student-cards a{
  text-decoration: none;
}
