.student-show {
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
  color: #1C419A;
  background-color: #E1F2FF;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
}
p {
  color: #1C419A;
}
#student-coins{
  font-size: 35px;
}
#student-birth{
  font-size: 35px;
  margin-left: 60px;
}
.student-cards a{
  text-decoration: none;
}
.student-coin-card{
  font-size: 35px;
}
